 @font-face {
    font-family: "BebasNeue Regular"; /* Гарнитура шрифта */
    src: url("fonts/BebasNeue_Regular.ttf"); /* Путь к файлу со шрифтом */
   }
 @charset "WIN-1251";
 
/* CSS Document */

body {
	margin: 15px 0 0 0;
	padding: 0;
	font-family: arial, serif;
	
}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'BebasNeue Regular', 'Open Sans Condensed', arial, serif;
 text-transform:uppercase;
	margin-top: 0;
	line-height: 23px;	
	font-size:1em;
	letter-spacing:1px;
}
p, li{font-size:1em;}
blockquote{margin:10px 20px}

h1{font-size:20px;}
h2{ font-size:16px;}
h3,h4{font-size:14px;}
li{
list-style-type:none;}
a img { 
	border: none;
}
a { color:#000;}
a:focus{border:0}


.clb{clear:both;}
#logo_mobil { 
font-family: 'BebasNeue Regular', 'Open Sans Condensed', arial, serif;
text-transform:uppercase;
color:#000;
margin: 0px auto ;
 width: 250px;
 
 }
 #logo_mobil a
 {text-decoration:none;}
 #logo_mobil span{
 margin-left: 3px;
 font-size:22px;
 font-weight:normal;
 }
  #logo_mobil div{
  margin-top:7px;
  }
#logo_mobil img{ float:left;
margin-right:10px;
width:38px;
 }
#logo_mobil b {

font-weight:normal; 
letter-spacing:1px;
 color:#070D7D;
 font-size:53px;
 }
#logo_mobil{

font-weight:normal; }
#logo_mobil h1{margin-bottom:0px;
    margin-top: 3px;
	letter-spacing: 0px;
   line-height: 1.5em;
}
.title_mobil{
    padding-top:50px;
	text-align: center;
}
#workeria{
padding:5px 5px 5px 5px;}
.adr_rasp_mob p{
    font-size: 90%;
    text-align: center;
}
.tel_mob{
	margin: 3px auto;
    width: 210px;
	text-align:center;
}
.tel_mob a{
font-family: 'BebasNeue Regular', 'Open Sans Condensed', arial, serif;
text-transform:uppercase;
font-size:32px;

margin:0px 0px 5px 0px;
	
}
.search_aopen .bx-searchtitle .bx-input-group .bx-form-control {
width:200px;
}
.search_aopen {
width:312px;
}
.search_mobil {
width:360px;
margin:15px auto;}

.search_mobil .btn-default{
color:#fff;
padding:8px;
font-weight:bold;
border:none;
background-color:#070D7D;
border-radius: 0px;
cursor:pointer;

  }
input{font-size:22px;}  
#map_mob{
width:100%;
height:358px
}
#marshrut{
margin:10px auto;
padding:4px;
width:300px;
height:20px;
border-radius:10px;
background-color:#070D7D;
text-align:center
}
#marshrut a{
text-decoration:none;
font-weight:bold;
color:#fff;
}
.foto{display:none}
.prop{display:none}
#modal_form {
	width: 250px; 
	height: 100px; /* ??????? ?????? ???? ??????????? */
	border-radius: 5px;
	border: 3px #3d609a solid;
	background: #fff;
	position: fixed; /* ????? ???? ???? ? ??????? ???? ? ????? ????? */
	top: 45%; /* ????????? ?????? 45%, ????????? 5% ???????? ?????? */
	left: 50%; /* ???????? ?????? ????? */
	margin-top: -150px;
	margin-left: -150px; /* ??? ??? ????? ????????? css, ????????? ????? ? ????? ????? ???????? ?????? ? ?????? ?????????????? =) */
	display: none; /* ? ??????? ????????? ???? ?? ?????? ???? */
	opacity: 0; /* ????????? ????????? ??? ???????????? */
	z-index: 5; /* ???? ?????? ???? ???????? ??????? ???? */
	padding: 20px 10px;
	text-align:center;
}
/* ?????? ??????? ??? ??? ??? ? ?????) */
#modal_close1 {
  color: #fff; /* ???? ?????? */
  text-decoration: none; /* ??????? ????????????? ? ?????? */
  user-select: none; /* ??????? ????????? ?????? */
  background: #3d609a; /* ??? ?????? */
  padding: .4em 0.7em; /* ?????? ?? ?????? */
  outline: none; /* ??????? ?????? ? Mozilla */
  border-radius:5px;
	font-size:90%;
}
#modal_close {
  color: #2DA22D; /* ???? ?????? */
  text-decoration: none; /* ??????? ????????????? ? ?????? */
  user-select: none; /* ??????? ????????? ?????? */
  border: solid 3px #3d609a; 
  padding: .2em 0.6em; /* ?????? ?? ?????? */
  outline: none; /* ??????? ?????? ? Mozilla */
  border-radius:5px;
	font-size:90%;
}
#tovar2{}
/* ???????? */
#overlay {
	z-index: 3; /* ???????? ?????? ???? ???? ????? ????????? ?????, ?? ???? ???? ?????????? ???? */
	position: fixed; /* ?????? ??????????? ???? ???? */
	background-color: #000; /* ?????? */
	opacity: 0.4; /* ?? ??????? ????????? */
	width: 100%; 
	height: 100%; /* ???????? ?? ???? ????? */
	top: 0; 
	left: 0; /* ?????? ? ????? 0, ???????????? ????????! */
	cursor: pointer;
	display: none; /* ? ??????? ????????? ?? ???) */
}
.abcv{display:none}