#market-basket {width: 190px; border: 1px solid #cccccc; background: #f2f7f8; text-align: center; padding: 5px;}
#market-basket ul {padding: 0; margin: 0;}
#market-basket ul li {list-style-type: none; font-size: 12px; font-family: verdana;}
#market-basket a {color: #fff; font-size: 80%}
#market-basket a:hover {color: #ccc;}
.tooltip:hover:after {
  background: #2954b0;
}
.tooltip {
    display: inline;
    position: relative;
	
	

}
.tooltip:hover:before {
    border: solid;
   
    border-width: 6px 6px 0px 6px;
    top: 20px;
    /*content: "";*/
    left: 50%;
    position: absolute;
    z-index: 99;
}
.tooltip:hover:after {
   
  display: inline;
    border-radius: 5px;
    top: 26px;
    color: #fff;
    content: attr(data-title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 150px;
}

