nav .navmenu {
    background: url(img/nav_bg_ice.png) top left repeat-x !important;
}

.nav_cor_l {
    background: url(img/nav_corners_ice.png) top left no-repeat !important;
}

.nav_cor_r {
    background: url(img/nav_corners_ice.png) -6px 0 no-repeat !important;
}

nav ul li {
    background: url(img/nav_sep_ice.png) center right no-repeat !important;
}

nav ul li a {
    text-shadow: 0 -1px 1px #015dcd !important;
}

nav li:hover a, nav li a:hover {
    color: #017bc8 !important;
}

nav .subnav li a, #login-popup .form-item a {
    border-bottom-color: #CDDFF5 !important;
    color: #0660cf !important;
}

#login-popup .form-item a:hover {
    color: #3b91e7 !important;
}

nav .subnav li li a {
    color: #3b91e7 !important;
}

nav .subnav li li.hover a:hover {
    background: #f4f5f5 !important;
    border: none !important;
}
